<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946397363276-rdt56c2qqdkn3u4gd3j2ldmtpi4r4kjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946397363276-rdt56c2qqdkn3u4gd3j2ldmtpi4r4kjc</string>
	<key>API_KEY</key>
	<string>AIzaSyDwqoW9cbczVLbUCN0YzY7zZAHXqtmOf8U</string>
	<key>GCM_SENDER_ID</key>
	<string>946397363276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JCTGY.MessageApp</string>
	<key>PROJECT_ID</key>
	<string>messageswift</string>
	<key>STORAGE_BUCKET</key>
	<string>messageswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946397363276:ios:74c2d9393c87acff9bc8e9</string>
	<key>DATABASE_URL</key>
	<string>https://messageswift.firebaseio.com</string>
</dict>
</plist>